.App {
  color: #333;
  border-radius: 4px;
/*  background: #fff;*/
  background: #FAFAFA;
  margin: 2em;
  padding: 0 1.5em;
  min-height: 20em;
  min-width: 32em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
  font-family: Futura, Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
h1{
  letter-spacing: .02em;
  color: #334431;
}
button{
  border: transparent;
}
.App > .todoList > li{
  border-radius: 5px;
  margin-bottom: .5em;
}
.App > .todoList > li:nth-child(1n) {
	background: #80C9B6;
}
.App > .todoList > li:nth-child(2n) {
	background: #AFD82F;
}
.App > .todoList > li:nth-child(3n) {
  background: #D2C950;
}
.App > .todoList > li:nth-child(4n) {
  background: #9CA98D;
}
@font-face {
  font-family: 'iconfont';  /* project id 514655 */
  src: url('//at.alicdn.com/t/font_514655_bvnue1921gkz9f6r.eot');
  src: url('//at.alicdn.com/t/font_514655_bvnue1921gkz9f6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_514655_bvnue1921gkz9f6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_514655_bvnue1921gkz9f6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_514655_bvnue1921gkz9f6r.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
 
.App .out {
  float: right;
  padding: 0;
  margin-top: -.1em;
  margin-right: .3em;
  border: transparent;
  background: transparent;
}
.App .out>.iconfont{
  font-size: 1.5em;
/*  color: #E05038;*/
  color: #D12425;
}
.inputWrapper {
  position: relative;
  text-content: center;
}
.inputWrapper .front-sticker {
  position: absolute;
  font-size: 1.2em;
  left: .4em;
  top: .4em;
}
.inputWrapper .enter-tip {
  position: absolute;
  font-size: 1.3em;
  right: .45em;
  top: .35em;
  opacity: .7;
}
.App .inputWrapper .TodoInput {
  font-size: 1.2em;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: .3em;
  padding-left: 1.8em;
  padding-right: 1.5em;
}
.TodoInput {
  display: inline-block;
  width: 100%;
  padding: .1em;
  padding-left: 0;
  font-size: 1.2em;
}
.App .todoList .TodoItem{
  font-size: 1.1em;
}
/*.App .todoList{
  max-width: 400px;
}*/
.App .todoList .TodoItem button{
  border: transparent;
  padding: 0;
  background: transparent;
}
.App .todoList .TodoItem button .delete {
  /*color: #D12425;*/
  font-size: 1.3em;
}

.App .todoList .TodoItem {
  position: relative;
}
.App .todoList .TodoItem input{
  font-size: 2em;
}
.TodoItem>input[type="checkbox"] {
  opacity: 0;
  z-index: 99;
  width: .5em;
  height: .5em;
  border: 1px solid red;
  cursor: pointer;
}
.TodoItem>div .iconfont {
  position: absolute;
  font-size: 1.4em;
  top: .2em;
  left:.2em;
}
.TodoItem .date {
  opacity: .5;
  font-size: 1em;
  margin-right: .2em;
}
.completed + .title {
  text-decoration: line-through;
  text-decoration-color: #D12425;
}
.completed>.iconfont{
  color: #D12425; 
}
