 *{
   box-sizing: border-box;
 }
 .UserDialog-Wrapper{ 
  /*全屏*/      
    position:fixed; 
    top: 0; 
    left: 0; 
    bottom: 0;
    right: 0; 
  /*内容居中*/    
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #E5AE4B;

}
.letter-wrapper{
  display: flex;
  border-radius: 4px;
  min-width: 20em;
/*  box-shadow: 0 0 1em hsla(0,0%,0%,0.35);*/
}
.letter{
  flex: 1;
  text-align: center;
  align-items: center;
  display: flex;
}
.btn-wrapper {
   margin: .5em;
}
#signUp> .btn-wrapper {
  margin: 0;
}
.cover-btn{
  border-radius: 50%;
  width: 4em;
  height: 4em;
  text-align: center;
  background-color: #334431;
  font-size: 1.5em;
  color: #fff;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(51,68,49,0.65);
  -moz-box-shadow: 0px 0px 4px 1px rgba(51,68,49,0.65);
  box-shadow: 0px 0px 4px 1px rgba(51,68,49,0.65);
}
.cover-btn:hover{
  /*color: #F2CBBC;*/
  color: #E5AE4B;
}
.TandD{
  font-size: 16em;
  color: #E05038;
  text-align: center;
}


#T {
 
}
#signUp {
 
}
#D {
 
}
#signIn {
    
}
.signInForm,
.signUpForm,
.forgotPassword {
  padding: 2em;
  position: relative;
}
.signInForm .close,
.signUpForm .close {
  position: absolute;
  top: 1.5em;
  right: 0;
}

.forgotPassword > h3 { padding: 1em; }
.forgotPassword > form { padding: 0 1em 1em; }

/*form>.row>label:first-child{ width: 4em; }*/

form{

}
form h3{
  color: #334431;
}
form .row{
  margin-bottom: 1.2em; 
  position: relative;
}
form>.row>input{
  padding: .4em;
  font-size: 1.1em;
  border-radius: 5px;
}
form>.row>input:focus{
  padding: .5em;
}
form>.row .email{
  position: absolute;
  font-size: 1.3em;
  right: .25em;
  top: .3em;

}
form>.row .user{
  position: absolute;
  font-size: 1.3em;
  right: .2em;
  top: .2em;
 
}
form>.row .unlock{
  position: absolute;
  font-size: 1.8em;
  right: 0.05em;
}
form>.row .lock{
  position: absolute;
  font-size: 1.8em;
  bottom: .05em;
  right: 0;
}
.actions>.btn-default,
.actions>.btn-block{
  background-color: #334431;
  color: #fff;
  border: none;
}
.actions>.btn-link{
  color: #334431;
}




@keyframes jump {  
   0% {  
       transform: translate(0px, 0px);  
   }  
   25%{
       transform: translate(0px, -16px);       
   }
   50% {  
       transform: translate(0px, 0px);  
   }  
   75%{
       transform: translate(0px, -10px);      
   }
   100% {  
       transform: translate(0px, 0px);  
   }  
}
.cover-btn:hover {
  animation: jump .7s 1;
}